# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Databases
*.db
*.sqlite

# Environment variables containing sensitive secrets
.env
.env.local
.env.*.local

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDE and workspace settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local log files at root
/*.log
